<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="defaultPushSource" value="https://pkgs.dev.azure.com/PartsTrader/Nuget/_packaging/packages/nuget/v3/index.json" />
  </config>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="azureptmlfeed" value="https://pkgs.dev.azure.com/PartsTrader/Nuget/_packaging/packages/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <azureptmlfeed>
      <add key="Username" value="username" />
      <add key="ClearTextPassword" value="%AZUREPTMLFEED_PAT_PASSWORD%" />
    </azureptmlfeed>
  </packageSourceCredentials>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
